.card {
    aspect-ratio: 1 / 1.5;
    width: 200px;
    padding: 1rem;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    color: var(--c-white);
    transition: all 0.3s;
}

.movie-title {
    position: absolute;
    bottom: 0px;
    margin-bottom: 1.5rem;
    width: 70%;
    pointer-events: none;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.poster {
    position: absolute;
    overflow: hidden;

}