.search-bar {
    width: 40vw;
    padding: .8rem .5rem .8rem 1rem;
    border-style: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--c-dark-grey);

}


.movie_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.movie__title {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.movie__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.movie__image {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 5px;
}