.movie-container {
    display: grid;
    grid-template-areas: 'top top'
                        'bottom bottom';
}

.single-movie-item {
    display: flex;
    align-items: stretch;
    gap: 20px;
    margin: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3.4rem;
    flex-wrap: wrap;
    grid-area: top;
    border-radius: 10px;
}

.movie-poster {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    min-width: 300px;
    border-radius: 1rem;
    margin: 0 auto;
    gap: 20px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    max-width: 500px;
    min-width: 400px;
    color: var(--c-white);
    text-align: left;
    margin: 0 auto;
    font-size: 18px;
}

.movie-info-link {
    color: var(--c-light-blue);
    text-decoration: none;
    font-weight: bold;
}

.single-movie-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    gap: 2rem;
}

.movie-button {
    padding: 0.8rem 1.4rem;
    border-radius: 0.3rem;
    border: solid rgba(0, 0, 255, 0);
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(89, 89, 248);
    color: white;
}

.movie-button:hover {
    background-color: #bd49d7;
    color: var(--c-white);
}

.movie-button:active {
    transform: translateY(2px);
}

.trailer {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    grid-area: bottom;
    max-width: 90%;
    margin: 0 auto;
}

iframe {
    border-radius: 1rem;
    max-width: 100%;
}

.no-movie-msg {
    align-self: center;
}